<div class="sticky top-0 font-bold text-white">
  <p-card>
    <div class="container">
      <div class="grid col-12">
        <div class="field col-6 md:col-3">
          <h4>Kitaplar</h4>
          <hr />
          <p>deneme</p>
          <p>deneme</p>
          <p>deneme</p>
          <p>deneme</p>
          <p>deneme</p>
          <p>deneme</p>
        </div>

        <div class="field col-6 md:col-3">
          <h4>kategoriler</h4>
          <hr />
          <p>deneme</p>
          <p>deneme</p>
        </div>

        <div class="field col-6 md:col-3">
          <h4>Kullanıcılar</h4>
          <hr />
          <p>deneme</p>
          <p>deneme</p>
          <p>deneme</p>

          <p>deneme</p>
          <p>deneme</p>
        </div>

        <div class="field col-6 md:col-3">
          <h4>Test</h4>
          <hr />
          <p>deneme</p>
        </div>
      </div>
      <div class="col-12 align-items-center">
        <p-card class="align-items-center"
          ><p>© 2022 Copyright: MDBootstrap.com</p></p-card
        >
      </div>
    </div>
  </p-card>
</div>
