<p-card header="{{ header }}">
  <p-toolbar styleClass="mb-4" *ngIf="EkleButtonDurum">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Ekle"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table [columns]="cols" [value]="TabloData">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h4 class="p-m-0">{{ header }} Listesi</h4>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" pSortableColumn="{{ col.header }}">
          {{ col.header }}<p-sortIcon field="{{ col.header }}"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <div *ngIf="col.field != ''">
            {{ rowData[col.field] }}
          </div>
          <div *ngIf="col.field == 'button'">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2 mx-2"
              (click)="edit(rowData)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning p-mr-2 mx-2"
              (click)="delete(rowData)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog
  [(visible)]="DialogOpen"
  header="{{ FormHeader }}"
  [style]="{ width: '35vw' }"
>
  <ng-template pTemplate="content">
    <form [formGroup]="form" (ngSubmit)="save()">
      <p-card>
        <div
          class="formgrid grid mt-2"
          *ngFor="let i of formTipleri"
          [ngSwitch]="i.type"
        >
          <div *ngSwitchCase="'input'" class="field col-12 md:col-12 p-fluid">
            <span class="p-float-label">
              <input
                [required]="i.required"
                id="{{ i.text }}"
                type="text"
                pInputText
                [formControlName]="i.isim"
                class="input"
              />
              <label class="label" for="{{ i.text }}">{{ i.text }}</label>
            </span>

            <!-- Validation -->
            <ng-container *ngIf="i.required">
              <div
                style="
                  text-align: center;
                  background-color: #ff0000;
                  border-radius: 10px;
                  margin: 5px 2%;
                "
                *ngIf="form.controls[i.isim].invalid"
              >
                <p style="color: white">{{ i.text }} Boş bırakılamaz</p>
              </div>
            </ng-container>
            <!--  -->
          </div>

          <div
            *ngSwitchCase="'inputnumber'"
            class="field col-12 md:col-12 p-fluid"
          >
            <label class="label">{{ i.text }}</label>
            <p-inputNumber
              [required]="i.required"
              [formControlName]="i.isim"
              class="inputNumber"
            ></p-inputNumber>
            <!-- Validation -->
            <ng-container *ngIf="i.required">
              <div
                style="
                  text-align: center;
                  background-color: #ff0000;
                  border-radius: 10px;
                  margin: 5px 2%;
                "
                *ngIf="form.controls[i.isim].invalid"
              >
                <p style="color: white">{{ i.text }} Boş bırakılamaz</p>
              </div>
            </ng-container>
            <!--  -->
          </div>

          <div
            *ngSwitchCase="'calendar'"
            class="field col-12 md:col-12 p-fluid"
          >
            <label class="label" for="{{ i.text }}">{{ i.text }}</label>
            <p-calendar
              [required]="i.required"
              [inputId]="i.text"
              [formControlName]="i.isim"
              view="year"
              dateFormat="yy"
              [readonlyInput]="true"
            ></p-calendar>
          </div>

          <div
            *ngSwitchCase="'checkbox'"
            class="field col-12 md:col-12 p-fluid"
          >
            <p-card header="{{ i.text }}">
              <div class="field-checkbox">
                <p-checkbox
                  [required]="i.required"
                  inputId="{{ i.text }}"
                  [formControlName]="i.isim"
                  [binary]="true"
                ></p-checkbox>
                <label class="label" for="{{ i.text }}">{{ i.text }}</label>
              </div>
            </p-card>
            <!-- Validation -->
            <ng-container *ngIf="i.required">
              <div
                style="
                  text-align: center;
                  background-color: #ff0000;
                  border-radius: 10px;
                  margin: 5px 2%;
                "
                *ngIf="form.controls[i.isim].invalid"
              >
                <p style="color: white">{{ i.text }} Boş bırakılamaz</p>
              </div>
            </ng-container>
            <!--  -->
          </div>

          <div *ngSwitchCase="'radio'" class="field col-12 md:col-12 p-fluid">
            <p-card header="{{ i.text }}">
              <div
                class="field-radiobutton"
                *ngFor="let item of RadioButtonData"
              >
                <p-radioButton
                  [required]="i.required"
                  [value]="item.name"
                  [formControlName]="i.isim"
                >
                </p-radioButton>
                <label class="label" for="{{ i.text }}">{{ item.name }}</label>
              </div>
            </p-card>
            <!-- Validation -->
            <ng-container *ngIf="i.required">
              <div
                style="
                  text-align: center;
                  background-color: #ff0000;
                  border-radius: 10px;
                  margin: 5px 2%;
                "
                *ngIf="form.controls[i.isim].invalid"
              >
                <p style="color: white">{{ i.text }} Boş bırakılamaz</p>
              </div>
            </ng-container>
            <!--  -->
          </div>

          <div
            *ngSwitchCase="'textarea'"
            class="field col-12 md:col-12 p-fluid"
          >
            <span class="p-float-label">
              <textarea
                [required]="i.required"
                id="{{ i.text }}"
                rows="3"
                cols="30"
                pInputTextarea
                [formControlName]="i.isim"
                class="textarea"
              ></textarea>
              <label class="label" for="{{ i.text }}">{{ i.text }}</label>
              <!-- Validation -->
              <ng-container *ngIf="i.required">
                <div
                  style="
                    text-align: center;
                    background-color: #ff0000;
                    border-radius: 10px;
                    margin: 5px 2%;
                  "
                  *ngIf="form.controls[i.isim].invalid"
                >
                  <p style="color: white">{{ i.text }} Boş bırakılamaz</p>
                </div>
              </ng-container>
              <!--  -->
            </span>
          </div>

          <div *ngSwitchCase="'button'" class="grid col-12 p-fluid">
            <div class="col-12 md:col-6 p-field">
              <button
                pButton
                pRipple
                label="İptal"
                icon="pi pi-times"
                (click)="DialogOpen = false"
              ></button>
            </div>
            <div class="col-12 md:col-6 p-field">
              <button
                [disabled]="form.invalid"
                pButton
                pRipple
                label="kaydet"
                icon="pi pi-check"
                (click)="save()"
              ></button>
            </div>
          </div>
        </div>
      </p-card>
    </form>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '25%' }"></p-confirmDialog>
