<p-card header="{{ header }}">
  <form [formGroup]="form">
    <p-card>
      <div
        class="formgrid grid mt-4"
        *ngFor="let i of formTipleri"
        [ngSwitch]="i.type"
      >
        <div *ngSwitchCase="'input'" class="field col-12 md:col-12 p-fluid">
          <span class="p-float-label">
            <input
              id="{{ i.text }}"
              type="text"
              pInputText
              formControlName="{{ i.isim }}"
              class="input"
            />
            <label class="label" for="{{ i.text }}">{{ i.text }}</label>
          </span>
        </div>

        <div
          *ngSwitchCase="'inputnumber'"
          class="field col-12 md:col-12 p-fluid"
        >
          <label class="label">{{ i.text }}</label>
          <p-inputNumber
            formControlName="{{ i.isim }}"
            class="inputNumber"
          ></p-inputNumber>
        </div>

        <div *ngSwitchCase="'calendar'" class="field col-12 md:col-12 p-fluid">
          <label class="label" for="{{ i.text }}">{{ i.text }}</label>
          <p-calendar
            inputId="{{ i.text }}"
            formControlName="{{ i.isim }}"
          ></p-calendar>
        </div>

        <div *ngSwitchCase="'checkbox'" class="field col-12 md:col-12 p-fluid">
          <p-card header="{{ i.text }}">
            <div class="field-checkbox">
              <p-checkbox
                inputId="{{ i.text }}"
                formControlName="{{ i.isim }}"
                [binary]="true"
              ></p-checkbox>
              <label class="label" for="{{ i.text }}">Durum</label>
            </div>
          </p-card>
        </div>

        <div *ngSwitchCase="'radio'" class="field col-12 md:col-12 p-fluid">
          <p-card header="{{ i.text }}">
            <div class="field-radiobutton" *ngFor="let item of RadioButtonData">
              <p-radioButton [value]="item.name" formControlName="{{ i.isim }}">
              </p-radioButton>
              <label class="label" for="{{ i.text }}">{{ item.name }}</label>
            </div>
          </p-card>
        </div>

        <div *ngSwitchCase="'textarea'" class="field col-12 md:col-12 p-fluid">
          <span class="p-float-label">
            <textarea
              id="{{ i.text }}"
              rows="3"
              cols="30"
              pInputTextarea
              formControlName="{{ i.isim }}"
              class="textarea"
            ></textarea>
            <label class="label" for="{{ i.text }}">{{ i.text }}</label>
          </span>
        </div>

        <div *ngSwitchCase="'button'" class="field col-12 cardOzel">
          <p-button
            type="submit"
            iconPos="right"
            label="{{ i.text }}"
            icon="pi pi-check"
            (onClick)="ekle()"
            class="button"
          ></p-button>
        </div>
      </div>
    </p-card>
  </form>
</p-card>
