<div class="layout-topbar">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
  
    <a class="layout-topbar-logo">
      <span>Personel</span>
    </a>
  
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
      (click)="layoutService.showProfileSidebar()">
      <i class="pi pi-ellipsis-v"></i>
    </button>
  
    <div #topbarmenu class="layout-topbar-menu"
      [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
      <button class="p-link layout-topbar-button" (click)="kaldir()" [routerLink]="'/login'">
        <i class="pi pi-power-off"></i>
        <span>Çıkış</span>
      </button>
    </div>
  </div>