<p-card header="Personel Maaşları">
  <div class="grid">
    <div class="col-12 md:col-3 p-fluid">
      <p-dropdown
        [options]="subeListe"
        optionLabel="ad"
        appendTo="body"
        [showClear]="false"
        placeholder="Sube"
        (onChange)="filterSubeChange($event)"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-3 p-fluid">
      <p-dropdown
        [options]="filterDepartmanListe"
        optionLabel="isim"
        appendTo="body"
        placeholder="Departman"
        (onChange)="filterDepartmanChange($event)"
        [showClear]="false"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-3 p-fluid">
      <p-dropdown
        [options]="filterDepartmanRolListe"
        optionLabel="isim"
        appendTo="body"
        placeholder="Departman Rol"
        (onChange)="filterDepartmanRolChange($event)"
        [showClear]="false"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-3 p-fluid">
      <button
        pButton
        pRipple
        label="Personel Listele"
        icon="pi pi-check"
        (click)="filter()"
      ></button>
    </div>
  </div>
</p-card>

<br />

<p-card *ngIf="TabloData.length">
  <p-table #dt1 [value]="TabloData" dataKey="id">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h4 class="p-m-0">Personel Listesi</h4>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Tc</th>
        <th>İsim</th>
        <th>Soyad</th>
        <th>Brüt ücret</th>
        <th>Net ücret</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-personel>
      <tr>
        <td>{{ personel.personelKimlik.tc }}</td>
        <td>{{ personel.personelKimlik.isim }}</td>
        <td>{{ personel.personelKimlik.soyad }}</td>
        <td>{{ personel.personelSigorta.brutUcret }}</td>
        <td>{{ personel.personelSigorta.netUcret }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success"
            (click)="maasHesaplaDialog(personel)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog
  header="Ücret hesapla"
  [(visible)]="dialogDisplay"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '80vw' }"
>
  <p-card
    ><div class="grid">
      <div class="col-12 md:col-2 p-fluid">
        <label class="label">Hesaplama</label>
        <div
          style="display: flex; justify-content: flex-start; margin-top: 10px"
        >
          <div class="field-radiobutton mx-3">
            <p-radioButton
              name="Net"
              value="Net"
              [(ngModel)]="netBrut"
              (onClick)="maasTuruSec()"
              inputId="Net"
            ></p-radioButton>
            <label for="Net">Net</label>
          </div>
          <div class="field-radiobutton mx-3">
            <p-radioButton
              name="Brut"
              value="Brut"
              [(ngModel)]="netBrut"
              (onClick)="maasTuruSec()"
              inputId="Brut"
            ></p-radioButton>
            <label for="Brut">Brüt</label>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label class="label" for="">Medeni durumu</label>
        <input
          type="text"
          pInputText
          [disabled]="true"
          [(ngModel)]="medeniDurum"
          class="input"
        />
      </div>
      <div class="col-12 md:col-2 p-fluid">
        <label class="label" for="">Çocuk sayısı</label>
        <input
          type="text"
          pInputText
          [disabled]="true"
          [(ngModel)]="cocukSayisi"
          class="input"
        />
      </div>
      <div class="col-12 md:col-5 p-fluid">
        <div class="field-checkbox mt-4">
          <p-checkbox
            [binary]="true"
            inputId="binary"
            [(ngModel)]="spiph"
          ></p-checkbox>
          <label for="binary"
            >Sigorta primi işveren payının hesabında, 5 puanlık indirim dikkate
            alınsın.</label
          >
        </div>
      </div>
    </div>
  </p-card>

  <div class="grid">
    <div class="col-12 p-fluid">
      <p-card>
        <p-table
          dataKey="id"
          [value]="deneme"
          [resizableColumns]="true"
          styleClass="p-datatable-gridlines"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Ay</th>
              <th>Maaş</th>
              <th>SSk işçi</th>
              <th>İşsizlik İşçi</th>
              <th>Aylık Gelir Vergisi</th>
              <th>Damga Vergisi</th>
              <th>Kümülatif Vergi Matrahı</th>
              <th>Bürüt & net</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-maas let-editing="editing">
            <tr>
              <td>{{ maas.ay }}</td>
              <td [pEditableColumn]="maas.maas" pEditableColumnField="maas">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="maas.maas" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ maas.maas }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </ng-template> </p-table
      ></p-card>
    </div>
  </div>
  <button
    pButton
    pRipple
    label="kaydet"
    icon="pi pi-check"
    (click)="maasHesapla()"
  ></button>
</p-dialog>
