<!-- <app-reusable-table
  header="Personel Listesi"
  [cols]="cols"
  [data]="kategoriListe"
  (DuzenleEmit)="showDialog($event)"
  (SilEmit)="confirm($event)"
></app-reusable-table>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>

<p-dialog
  header="Kitap Düzenle"
  [(visible)]="display"
  [style]="{ width: '50vw' }"
>
  <app-form-reusable
    [formTipleri]="input"
    [form]="KategoriForm"
    (CikisForm)="(KategoriForm)"
    [RadioButtonData]="kategoriListe"
    (kayitEdilsinmi)="DuzenlemeYap($event)"
  ></app-form-reusable>
</p-dialog> -->

<app-generic
  header="Kategoriler"
  [cols]="cols"
  [TabloData]="kategoriListe"
  [formTipleri]="input"
  [form]="KategoriForm"
  FormHeader="Kategori Ekleme"
  DialogMessage="Kategoriyi Silmek istedigine eminmisin"
  DialogHeader="Silinsin mi?"
  [EkleButtonDurum] = "true"
  (kayit)="Save($event)"
  (CikisFormGroup)="(KategoriForm)"
  (sil)="DeleteKitaplar($event)"
></app-generic>
