$degisken: white;
$func: renk();
$renkler: blue, red, black;
@import "./reset.scss";

@mixin centerboth {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin divMix($genislik, $yukseklik, $renk) {
  width: $genislik;
  height: $yukseklik;
  background-color: $renk;
}

.deneme {
  background-color: nth($list: $renkler, $n: 1);
  @include centerboth;
  @include divMix(100px, 100px, blue);
}

.btn {
  padding: 10%;
  margin: 5%;
  &:hover {
    background-color: aliceblue;
  }
}

.btn-renk {
  background-color: blue;
  color: white;
  @extend .btn;
}

@function ekle($margin, $padding) {
  @return #{$margin * $padding}px;
}

.hesap {
  margin: ekle(10, 20);
}
