<div class="card">
  <p-table
    #dt
    [value]="sonListe"
    [rows]="10"
    [paginator]="true"
    [rowHover]="true"
    dataKey="id"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Satılan Kitaplar</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="Kullanıcı adı">
          <p>Kullanıcı Tc</p>
        </th>
        <th pSortableColumn="Kullanıcı ad">
          <p>Ad</p>
        </th>
        <th pSortableColumn="Kullanıcı soyad">
          <p>Soyad</p>
        </th>
        <th pSortableColumn="Kullanıcı ismi">
          <p>Kullanıcı ismi</p>
        </th>
        <th pSortableColumn="Kitap Adı">
          <p>Kitap Adı</p>
        </th>
        <th pSortableColumn="Kitap yazar">
          <p>Kitap yazar</p>
        </th>
        <th>Sil</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-liste>
      <tr *ngIf="liste.kiralananKitap != 0">
        <td>{{ liste.tc }}</td>
        <td>{{ liste.isim }}</td>
        <td>{{ liste.soyad }}</td>
        <td>{{ liste.kullanici }}</td>
        <td>{{ liste.ad }}</td>
        <td>{{ liste.yazar }}</td>
        <td>
          <p-button
          (onClick)="KiralanmaSilinsinmi(liste)"
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>