<p-card>
  <div class="grid">
    <div class="col-3 p-fluid">
      <div class="info-container">
        <div class="l-mini-container">
          <h5>Personel Sayısı</h5>
          <p>{{ personelTablo.length }}</p>
        </div>
        <div class="r-mini-container" style="flex: 0.5">
          <i
            class="pi pi-id-card text-blue-500 bg-blue-100 p-4 rounded-2 text-xl"
          ></i>
        </div>
      </div>
    </div>
    <div class="col-3 p-fluid">
      <div class="info-container">
        <div class="l-mini-container">
          <h5>Departman Sayısı</h5>
          <p>{{ departmanTablo.length }}</p>
        </div>
        <div class="r-mini-container" style="flex: 0.5">
          <i
            class="pi pi-id-card text-blue-500 bg-blue-100 p-4 rounded-2 text-xl"
          ></i>
        </div>
      </div>
    </div>
    <div class="col-3 p-fluid">
      <div class="info-container">
        <div class="l-mini-container">
          <h5>Şube Sayısı</h5>
          <p>{{ subeTablo.length }}</p>
        </div>
        <div class="r-mini-container" style="flex: 0.5">
          <i
            class="pi pi-id-card text-blue-500 bg-blue-100 p-4 rounded-2 text-xl"
          ></i>
        </div>
      </div>
    </div>
    <div class="col-3 p-fluid">
      <div class="info-container">
        <div class="l-mini-container">
          <h5>Departman Rol Sayısı</h5>
          <p>{{ departmanRolTablo.length }}</p>
        </div>
        <div class="r-mini-container" style="flex: 0.5">
          <i
            class="pi pi-id-card text-blue-500 bg-blue-100 p-4 rounded-2 text-xl"
          ></i>
        </div>
      </div>
    </div>
  </div>
</p-card>
