<div class="renk">
  <div class="cardOzel pt-8">
    <form #form="ngForm" (ngSubmit)="KullaniciGirisi(form)">
      <p-card header="Kullanıcı girişi">
        <hr />
        <div>
          <div class="p-fluid">
            <span class="p-float-label">
              <h5>kullanıcı adı</h5>
              <input
                id="float-input"
                type="text"
                name="kullanici"
                [(ngModel)]="kullanici.kullanici"
                pInputText
              />
            </span>
          </div>
        </div>
        <div class="mt-3">
          <div class="p-fluid">
            <h5>Sifre</h5>
            <input
              type="text"
              pInputText
              name="sifre"
              [(ngModel)]="kullanici.sifre"
            />
          </div>
        </div>
        <div class="mt-3">
          <div class="p-fluid grid">
            <div class="col-6">
              <button
                pButton
                type="button"
                label="Kayıt yap"
                [routerLink]="'/register'"
              ></button>
            </div>
            <div class="col-6">
              <button pButton type="submit" label="Giriş yap"></button>
            </div>
          </div>
        </div>
      </p-card>
    </form>
  </div>
</div>
